# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
local.properties
build/intermediates/dex-cache/cache.xml
.idea/workspace.xml
build/intermediates/dex-cache/cache.xml
.idea/misc.xml
.idea/libraries/support_v4_23_1_1.xml
.idea/libraries/play_services_wallet_8_3_0.xml
.idea/libraries/play_services_vision_8_3_0.xml
.idea/libraries/appcompat_v7_23_1_1.xml
.idea/libraries/appcompat_v7_23_1_1.xml
.idea/libraries/mediarouter_v7_22_2_0.xml
.idea/libraries/play_services_analytics_8_3_0.xml
.idea/libraries/play_services_appindexing_8_3_0.xml
.idea/libraries/play_services_appinvite_8_3_0.xml
.idea/libraries/play_services_appstate_8_3_0.xml
.idea/libraries/play_services_identity_8_3_0.xml
app/app.iml
.gradle/2.8/taskArtifacts/cache.properties
.gradle/2.8/taskArtifacts/cache.properties.lock
.gradle/2.8/taskArtifacts/fileHashes.bin
.gradle/2.8/taskArtifacts/fileSnapshots.bin
.gradle/2.8/taskArtifacts/outputFileStates.bin
.gradle/2.8/taskArtifacts/taskArtifacts.bin
.idea/compiler.xml
.idea/compiler.xml
.idea/libraries/mediarouter_v7_22_2_0.xml
.idea/libraries/play_services_maps_8_3_0.xml
.idea/libraries/play_services_panorama_8_3_0.xml
.idea/libraries/play_services_vision_8_3_0.xml
.idea/libraries/play_services_wearable_8_3_0.xml
.idea/runConfigurations.xml
.idea/modules.xml
local.properties
.gradle/2.4/taskArtifacts/cache.properties.lock
.idea/gradle.xml
.idea/libraries/appcompat_v7_23_1_1.xml
.idea/libraries/mediarouter_v7_22_2_0.xml
.idea/libraries/support_v4_23_1_1.xml
.idea/workspace.xml
app/app.iml
local.properties
